In [1]:
import pandas as pd

In [2]:
acs_2801_pct_df=pd.read_csv('acs_s2801_USETHIS.csv',low_memory=False)

In [3]:
acs_2801_pct_df.head()

In [4]:
zip_state_county_df=pd.read_csv('zip_to_state_and_county.csv')

In [5]:
zip_state_county_df.head()

In [6]:
acs_2801_merge = pd.merge(acs_2801_pct_df,zip_state_county_df, left_on='ZIP',right_on='ZCTA5')

In [7]:
acs_2801_merge.head()

,Unnamed: 0,id,Geographic Area Name,ZIP,Has one or more types of computing devices,No computer,With an Internet subscription,With an Internet subscription Broadband of any type,"With an Internet subscription Broadband of any type Broadband such as cable, fiber optic or DSL",Without an Internet subscription,"Less than $20,000 With a broadband Internet subscription","Less than $20,000 Without an Internet subscription","$20,000 to $74,999 With a broadband Internet subscription","$20,000 to $74,999 Without an Internet subscription","$75,000 or more With a broadband Internet subscription","$75,000 or more Without an Internet subscription",ZCTA5,STATE,COUNTY
0,0,8600000US00601,ZCTA5 00601,601,51.7,48.3,42.2,41.3,17.0,57.8,30.4,69.4,63,34.2,57.7,42.3,601,72,1
1,0,8600000US00601,ZCTA5 00601,601,51.7,48.3,42.2,41.3,17.0,57.8,30.4,69.4,63,34.2,57.7,42.3,601,72,141
2,1,8600000US00602,ZCTA5 00602,602,58.1,41.9,53.3,47.7,29.9,46.7,36.4,61.1,61.1,29.5,80.4,6.2,602,72,3
3,2,8600000US00603,ZCTA5 00603,603,68.5,31.5,63.9,63.6,42.2,36.1,52.5,47.2,75.7,24,90.2,9.8,603,72,5
4,3,8600000US00606,ZCTA5 00606,606,37.6,62.4,31.1,31.1,24.8,68.9,23.4,76.6,45.9,54.1,NaN,NaN,606,72,93

In [8]:
acs_2801_merge=acs_2801_merge[acs_2801_merge['STATE'] == 47]

In [9]:
acs_2801_merge.head()

,Unnamed: 0,id,Geographic Area Name,ZIP,Has one or more types of computing devices,No computer,With an Internet subscription,With an Internet subscription Broadband of any type,"With an Internet subscription Broadband of any type Broadband such as cable, fiber optic or DSL",Without an Internet subscription,"Less than $20,000 With a broadband Internet subscription","Less than $20,000 Without an Internet subscription","$20,000 to $74,999 With a broadband Internet subscription","$20,000 to $74,999 Without an Internet subscription","$75,000 or more With a broadband Internet subscription","$75,000 or more Without an Internet subscription",ZCTA5,STATE,COUNTY
14968,11901,8600000US37010,ZCTA5 37010,37010,87.5,12.5,83.1,80.1,57.0,16.9,54.2,45.8,65.6,34.4,90.8,4.3,37010,47,125
14969,11901,8600000US37010,ZCTA5 37010,37010,87.5,12.5,83.1,80.1,57.0,16.9,54.2,45.8,65.6,34.4,90.8,4.3,37010,47,147
14970,11902,8600000US37012,ZCTA5 37012,37012,81.1,18.9,66.9,61.3,54.5,33.1,20.1,59.1,69.7,30.3,92.1,7.9,37012,47,41
14971,11902,8600000US37012,ZCTA5 37012,37012,81.1,18.9,66.9,61.3,54.5,33.1,20.1,59.1,69.7,30.3,92.1,7.9,37012,47,159
14972,11902,8600000US37012,ZCTA5 37012,37012,81.1,18.9,66.9,61.3,54.5,33.1,20.1,59.1,69.7,30.3,92.1,7.9,37012,47,189

In [10]:
school_df = pd.read_csv('school_info_combined.csv')

In [11]:
acs_2801_merge=pd.merge(acs_2801_merge,school_df,left_on='ZCTA5',right_on='ZIP')

In [12]:
acs_2801_merge.head()

,Unnamed: 0_x,id,Geographic Area Name,ZIP_x,Has one or more types of computing devices,No computer,With an Internet subscription,With an Internet subscription Broadband of any type,"With an Internet subscription Broadband of any type Broadband such as cable, fiber optic or DSL",Without an Internet subscription,...,CITY,STATE_y,ZIP_y,CHARTER,test,subject,valid_tests,pct_on_track,pct_mastered,pct_on_mastered
0,11903,8600000US37013,ZCTA5 37013,37013,96.1,3.9,86.9,86.6,70.3,13.1,...,Antioch,TN,37013,N,TNReady,3-5 ELA,270.0,24.1,5.9,30.0
1,11903,8600000US37013,ZCTA5 37013,37013,96.1,3.9,86.9,86.6,70.3,13.1,...,Antioch,TN,37013,N,TNReady,3-5 Math,269.0,25.3,8.9,34.2
2,11903,8600000US37013,ZCTA5 37013,37013,96.1,3.9,86.9,86.6,70.3,13.1,...,Antioch,TN,37013,N,TNReady,3-8 ELA,270.0,24.1,5.9,30.0
3,11903,8600000US37013,ZCTA5 37013,37013,96.1,3.9,86.9,86.6,70.3,13.1,...,Antioch,TN,37013,N,TNReady,3-8 Math,269.0,25.3,8.9,34.2
4,11903,8600000US37013,ZCTA5 37013,37013,96.1,3.9,86.9,86.6,70.3,13.1,...,Antioch,TN,37013,N,TNReady,3-5 Math,355.0,17.2,5.1,22.3

In [13]:
acs_2801_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9148 entries, 0 to 9147
Data columns (total 34 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Unnamed: 0_x                                                                                     9148 non-null   int64
 1   id                                                                                               9148 non-null   object
 2   Geographic Area Name                                                                             9148 non-null   object
 3   ZIP_x                                                                                            9148 non-null   int64
 4   Has one or more types of computing devices                                                       9138 non-null   float64
 5   No computer                                                                                      9138 non-null   float64
 6   With an Internet subscription                                                                    9138 non-null   float64
 7   With an Internet subscription Broadband of any type                                              9138 non-null   float64
 8   With an Internet subscription Broadband of any type Broadband such as cable, fiber optic or DSL  9138 non-null   float64
 9   Without an Internet subscription                                                                 9138 non-null   float64
 10  Less than $20,000 With a broadband Internet subscription                                         9138 non-null   object
 11  Less than $20,000 Without an Internet subscription                                               9138 non-null   object
 12  $20,000 to $74,999 With a broadband Internet subscription                                        9138 non-null   object
 13  $20,000 to $74,999 Without an Internet subscription                                              9138 non-null   object
 14  $75,000 or more With a broadband Internet subscription                                           9135 non-null   object
 15  $75,000 or more Without an Internet subscription                                                 9135 non-null   object
 16  ZCTA5                                                                                            9148 non-null   int64
 17  STATE_x                                                                                          9148 non-null   int64
 18  COUNTY                                                                                           9148 non-null   int64
 19  Unnamed: 0_y                                                                                     9148 non-null   int64
 20  LEA_NAME                                                                                         9148 non-null   object
 21  SCHOOL_NAME                                                                                      9148 non-null   object
 22  SCHOOL_TYPE                                                                                      9148 non-null   object
 23  ADDRESS                                                                                          9148 non-null   object
 24  CITY                                                                                             9148 non-null   object
 25  STATE_y                                                                                          9148 non-null   object
 26  ZIP_y                                                                                            9148 non-null   int64
 27  CHARTER                                                                                          9148 non-null   object
 28  test                                                                                             9148 non-null   object
 29  subject                                                                                          9148 non-null   object
 30  valid_tests                                                                                      9148 non-null   float64
 31  pct_on_track                                                                                     9148 non-null   float64
 32  pct_mastered                                                                                     9148 non-null   float64
 33  pct_on_mastered                                                                                  9148 non-null   float64
dtypes: float64(10), int64(7), object(17)
memory usage: 2.4+ MB

In [14]:
labor_force_df = pd.read_csv('Labor force by county 2018.csv')

In [15]:
labor_force_df=labor_force_df[labor_force_df['State_FIPS_Code'] == 47]

In [16]:
labor_force_df.head()

,LAUS_Code,State_FIPS_Code,County_FIPS_Code,County,State,Labor_Force,Employed,Unemployed,Unemployment_Rate
2427,CN4700100000000,47.0,1.0,Anderson,TN,"34,949","33,708","1,241",3.6
2428,CN4700300000000,47.0,3.0,Bedford,TN,"21,223","20,437",786,3.7
2429,CN4700500000000,47.0,5.0,Benton,TN,"6,964","6,653",311,4.5
2430,CN4700700000000,47.0,7.0,Bledsoe,TN,"4,346","4,111",235,5.4
2431,CN4700900000000,47.0,9.0,Blount,TN,"64,115","62,072","2,043",3.2

In [17]:
acs_2801_merge = pd.merge(acs_2801_merge,labor_force_df,left_on='COUNTY',right_on='State_FIPS_Code')

In [18]:
acs_2801_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5320 entries, 0 to 5319
Data columns (total 43 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Unnamed: 0_x                                                                                     5320 non-null   int64
 1   id                                                                                               5320 non-null   object
 2   Geographic Area Name                                                                             5320 non-null   object
 3   ZIP_x                                                                                            5320 non-null   int64
 4   Has one or more types of computing devices                                                       5320 non-null   float64
 5   No computer                                                                                      5320 non-null   float64
 6   With an Internet subscription                                                                    5320 non-null   float64
 7   With an Internet subscription Broadband of any type                                              5320 non-null   float64
 8   With an Internet subscription Broadband of any type Broadband such as cable, fiber optic or DSL  5320 non-null   float64
 9   Without an Internet subscription                                                                 5320 non-null   float64
 10  Less than $20,000 With a broadband Internet subscription                                         5320 non-null   object
 11  Less than $20,000 Without an Internet subscription                                               5320 non-null   object
 12  $20,000 to $74,999 With a broadband Internet subscription                                        5320 non-null   object
 13  $20,000 to $74,999 Without an Internet subscription                                              5320 non-null   object
 14  $75,000 or more With a broadband Internet subscription                                           5320 non-null   object
 15  $75,000 or more Without an Internet subscription                                                 5320 non-null   object
 16  ZCTA5                                                                                            5320 non-null   int64
 17  STATE_x                                                                                          5320 non-null   int64
 18  COUNTY                                                                                           5320 non-null   int64
 19  Unnamed: 0_y                                                                                     5320 non-null   int64
 20  LEA_NAME                                                                                         5320 non-null   object
 21  SCHOOL_NAME                                                                                      5320 non-null   object
 22  SCHOOL_TYPE                                                                                      5320 non-null   object
 23  ADDRESS                                                                                          5320 non-null   object
 24  CITY                                                                                             5320 non-null   object
 25  STATE_y                                                                                          5320 non-null   object
 26  ZIP_y                                                                                            5320 non-null   int64
 27  CHARTER                                                                                          5320 non-null   object
 28  test                                                                                             5320 non-null   object
 29  subject                                                                                          5320 non-null   object
 30  valid_tests                                                                                      5320 non-null   float64
 31  pct_on_track                                                                                     5320 non-null   float64
 32  pct_mastered                                                                                     5320 non-null   float64
 33  pct_on_mastered                                                                                  5320 non-null   float64
 34  LAUS_Code                                                                                        5320 non-null   object
 35  State_FIPS_Code                                                                                  5320 non-null   float64
 36  County_FIPS_Code                                                                                 5320 non-null   float64
 37  County                                                                                           5320 non-null   object
 38  State                                                                                            5320 non-null   object
 39  Labor_Force                                                                                      5320 non-null   object
 40  Employed                                                                                         5320 non-null   object
 41  Unemployed                                                                                       5320 non-null   object
 42  Unemployment_Rate                                                                                5320 non-null   float64
dtypes: float64(13), int64(7), object(23)
memory usage: 1.8+ MB

In [19]:
income_df = pd.read_csv('Per capita income by county 2018.csv')

In [20]:
income_df=income_df[income_df['State'] == 'Tennessee']

In [21]:
pd.set_option('display.max_columns', None)

In [22]:
acs_2801_merge.head()

,Unnamed: 0_x,id,Geographic Area Name,ZIP_x,Has one or more types of computing devices,No computer,With an Internet subscription,With an Internet subscription Broadband of any type,"With an Internet subscription Broadband of any type Broadband such as cable, fiber optic or DSL",Without an Internet subscription,"Less than $20,000 With a broadband Internet subscription","Less than $20,000 Without an Internet subscription","$20,000 to $74,999 With a broadband Internet subscription","$20,000 to $74,999 Without an Internet subscription","$75,000 or more With a broadband Internet subscription","$75,000 or more Without an Internet subscription",ZCTA5,STATE_x,COUNTY,Unnamed: 0_y,LEA_NAME,SCHOOL_NAME,SCHOOL_TYPE,ADDRESS,CITY,STATE_y,ZIP_y,CHARTER,test,subject,valid_tests,pct_on_track,pct_mastered,pct_on_mastered,LAUS_Code,State_FIPS_Code,County_FIPS_Code,County,State,Labor_Force,Employed,Unemployed,Unemployment_Rate
0,12284,8600000US38002,ZCTA5 38002,38002,93.9,6.1,91.1,90.7,78.8,8.9,37.9,62.1,88.4,10.7,96.8,2.9,38002,47,47,4273,Shelby County Schools,Barret's Chapel Elementary/Middle,Public,10280 Godwin Rd,Arlington,TN,38002,N,TNReady,3-5 ELA,191.0,26.7,7.9,34.6,CN4700100000000,47.0,1.0,Anderson,TN,"34,949","33,708","1,241",3.6
1,12284,8600000US38002,ZCTA5 38002,38002,93.9,6.1,91.1,90.7,78.8,8.9,37.9,62.1,88.4,10.7,96.8,2.9,38002,47,47,4273,Shelby County Schools,Barret's Chapel Elementary/Middle,Public,10280 Godwin Rd,Arlington,TN,38002,N,TNReady,3-5 ELA,191.0,26.7,7.9,34.6,CN4700300000000,47.0,3.0,Bedford,TN,"21,223","20,437",786,3.7
2,12284,8600000US38002,ZCTA5 38002,38002,93.9,6.1,91.1,90.7,78.8,8.9,37.9,62.1,88.4,10.7,96.8,2.9,38002,47,47,4273,Shelby County Schools,Barret's Chapel Elementary/Middle,Public,10280 Godwin Rd,Arlington,TN,38002,N,TNReady,3-5 ELA,191.0,26.7,7.9,34.6,CN4700500000000,47.0,5.0,Benton,TN,"6,964","6,653",311,4.5
3,12284,8600000US38002,ZCTA5 38002,38002,93.9,6.1,91.1,90.7,78.8,8.9,37.9,62.1,88.4,10.7,96.8,2.9,38002,47,47,4273,Shelby County Schools,Barret's Chapel Elementary/Middle,Public,10280 Godwin Rd,Arlington,TN,38002,N,TNReady,3-5 ELA,191.0,26.7,7.9,34.6,CN4700700000000,47.0,7.0,Bledsoe,TN,"4,346","4,111",235,5.4
4,12284,8600000US38002,ZCTA5 38002,38002,93.9,6.1,91.1,90.7,78.8,8.9,37.9,62.1,88.4,10.7,96.8,2.9,38002,47,47,4273,Shelby County Schools,Barret's Chapel Elementary/Middle,Public,10280 Godwin Rd,Arlington,TN,38002,N,TNReady,3-5 ELA,191.0,26.7,7.9,34.6,CN4700900000000,47.0,9.0,Blount,TN,"64,115","62,072","2,043",3.2

In [23]:
income_df.head()

        County   2016   2017   2018      State
2426  Anderson  39659  40106  41853  Tennessee
2427   Bedford  35087  35799  37266  Tennessee
2428    Benton  31567  32715  33661  Tennessee
2429   Bledsoe  24290  25154  26281  Tennessee
2430    Blount  39912  41190  42991  Tennessee

In [26]:
acs_2801_df = pd.merge(acs_2801_merge,income_df,left_on ='County',right_on='County')